# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# How many neighborhood groups are available and which shows up the most?
def findunique(list):
    answerd = {}
    count = 0
    for entry in list:
        if entry not in answerd:
            answerd[entry] = 1
            count += 1
        else:
            answerd[entry] +=1
    x = max(answerd.values())
    print(count)
    return (sorted(answerd.items(), key=lambda x: x[1]))[-1]

findunique(air_bnb["neighbourhood"])

221

('Williamsburg', 3920)

In [4]:
# Are private rooms the most popular in manhattan?

findunique(air_bnb['room_type'])
# Answer: NO, its entire home/apt"

3

('Entire home/apt', 25409)

In [5]:
# Which hosts are the busiest and based on their reviews?
host_copy = air_bnb.drop_duplicates('host_id')
host_copy.sort_values('number_of_reviews', ascending=False)[['host_id','host_name','number_of_reviews']].head(10)

# this sort of gets the answer

        host_id host_name  number_of_reviews
11759  47621202      Dona                629
2015    4734398        Jj                594
1879    2369681     Carol                540
4870   12949460       Asa                488
471      792159     Wanda                480
1271    2680820     Linda                474
113       42273      Dani                467
225      277379     Agnes                458
1103    2321321     Lloyd                454
1190    2267153      John                451

In [6]:
#Which neighorhood group has the highest average price?
avg_price = air_bnb.groupby('neighbourhood_group')['price'].mean()
avg_price.sort_values(ascending = False)

neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

In [12]:
# Which neighbor hood group has the highest total price?
nbg_price = air_bnb.groupby('neighbourhood_group')['price'].sum()
nbg_price.sort_values(ascending = False)

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

In [13]:
#Which top 5 hosts have the highest total price?
total_price_stars = air_bnb.groupby(['host_id', 'host_name'])['price'].sum()
total_price_stars.sort_values(ascending = False).head(5)

host_id    host_name
219517861  Sonder (NYC)    82795
107434423  Blueground      70331
156158778  Sally           37097
205031545  Red Awning      35294
30283594   Kara            33581
Name: price, dtype: int64

In [17]:
# Who currently has no (zero) availability with a review count of 100 or more?
x = air_bnb[air_bnb['availability_365'] == 0]
b = x[x['number_of_reviews'] >=100]
b['host_name']

8         MaryEllen
94       Christiana
132             Sol
174           Coral
180            Doug
            ...
29581      Kathleen
30461         Janet
31250        Albert
32670      Stephany
35014       Mariluz
Name: host_name, Length: 162, dtype: object

In [14]:
# What host has the highest total of prices and where are they located?
total_price_top = air_bnb.groupby(['host_id', 'host_name','neighbourhood'])['price'].sum()
total_price_top.sort_values(ascending = False).head(5)

# THIS WAS INTERESTING. My guess is all these people have multiple properties, some in different neighborhoods.

host_id    host_name     neighbourhood
219517861  Sonder (NYC)  Financial District    57738
205031545  Red Awning    Midtown               35294
3750764    Kevin         Chelsea               18780
836168     Henry         Upper West Side       15000
1177497    Jessica       Clinton Hill          14850
Name: price, dtype: int64

In [41]:
# When did Danielle from Queens last receive a review?
Danielle_entries = air_bnb[air_bnb['host_name'] == 'Danielle']
Queens_Danielle = Danielle_entries[Danielle_entries['neighbourhood_group'] == 'Queens']
print(Queens_Danielle.sort_values('host_id')[['host_id','host_name','last_review']])

# so first, there are 4 different Danielles from Queens. Anyways...

air_bnb['last_review'] = pd.to_datetime(air_bnb['last_review'])
air_bnb['last_review'].max()

         host_id host_name last_review
16349   18051286  Danielle         NaT
7086    26432133  Danielle  2019-07-03
20403   26432133  Danielle  2019-07-06
21517   26432133  Danielle  2019-07-07
22068   26432133  Danielle  2019-07-06
22469   26432133  Danielle  2019-07-08
27021  154256662  Danielle  2018-01-02
33861  201647469  Danielle  2019-06-20

Timestamp('2019-07-08 00:00:00')

## Further Questions

1. Which host has the most listings?

In [47]:
z = findunique(air_bnb["host_id"])

air_bnb[air_bnb['host_id'] == z[0]]['host_name'].unique()[0]

37457

'Sonder (NYC)'

2. How many listings have completely open availability?

In [48]:
air_bnb[air_bnb['availability_365'] == 365]['id'].count()

1295

3. What room_types have the highest review numbers?

In [49]:
air_bnb.groupby('room_type')['number_of_reviews'].sum()

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

#### Some repetitive questions: I do wonder whether that was one purpose, as building common solution strategies seemed to save a lot of time. Pretty happy with my answers; most of my doubt comes from the wording of the questions. I think Sonder is a realty firm.

Also, you two do a wonderful job!!! I know I was a wimp asking for help, but I feel much more confident with Pandas after this assignment! Thanks!